@import url("https://gonts-googleapis.com/css?family=Lato&display=swap")

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color:#222;
  overflow-x: hidden;
  margin: 0;
}

.container{
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 3rem 5%;
}

.container.show-nav{
  transform: rotate(-20deg);
}

.circle-container{
  position: fixed;
  top:-6rem;
  left: -6rem;
}

.circle{
  background-color: #ff7979;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle{
  transform: rotate(-70deg);
}

.circle button{
  cursor:pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
}

.circle button:focus{
  outline: none;
}

.circle button#open{
  left: 60%;
}

.circle button#close{
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li{
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav{
  position: fixed;
  top: 25rem;
  left: 0;
  z-index: 100;
}

nav ul{
  padding-left: 2rem;
}

nav ul li{
  text-transform: uppercase;
  color: #fff;
  margin: 3rem 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li + li{
  margin-left: 1rem;
  transform: translateX(-150%);
}

nav ul li + li + li{
  margin-left: 2rem;
  transform: translateX(-200%);
}

nav ul li i{
  font-size: 1.5rem;
  margin-right: 1rem;
}

nav ul li:hover{
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.content{
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 3rem 0;
}

.content > *{
  margin-bottom: 2%;
  max-width: 100%;
}

.content h1, .content h3{
  font-weight: bold;
  margin: 0 0 1% 0;
  text-align:left;
}

.content small{
  color:#555;
  font-style: italic;
  font-size: 0.6rem;
  margin: 0 0 2% 0;
}
.content p{
  color: #333;
  line-height: 1.5;
  text-align: justify;
}

.content ul li{
  margin: 0 0 2% 0;
  text-align: justify;
}

.content img{
  max-width: 100%;
}

.two-column-container{ 
  display: grid;
  grid-template-columns: 50% 50%;
}

.two-column-container > p{
  padding: 0 4%;
}

.links{
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

form {
  width: 50%;
  margin: 0 auto;
}

.fields{
  display: flex;
  flex-flow: row wrap;
}

input[type="text"]{
  width: 100%;
}

textarea{
  width: 100%;
}

input[type="submit"]{
  background-color: #ff7979;
  color: white;
  font-weight: bold;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.5rem;
}
							



/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (max-width: 600px){
  .two-column-container{ 
    grid-template-columns: 100%;
  }
  
  .two-column-container > p{
    padding: 0;
    margin-bottom: 3%;
  }
}

