@import url("https://fonts.googleapis.com/css?family=Helvetica Neue");
@import url("https://fonts.googleapis.com/css?family=Verdana");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/******************************************
/* BASE STYLES
/*******************************************/
* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.faq-container{
  max-width: 600px;
}

.faq{
  background-color: transparent;
  border: 1px solid #248888;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.8s ease;
}

.faq.active{
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #0e2e2e;
  font-size: 7rem;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before{
  color:  #248888;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title{
  margin: 0 35px 0 0 ;
}

.faq-text{
  display:none;
  margin: 30px 0 0;
}

.faq.active .faq-text{
  display: block;
}

.faq-toggle{
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus{
  outline: none;
}

.faq-toggle .fa-times{
  display: none;
}
.faq.active .faq-toggle .fa-times{
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down{
  display: none;
}

.faq-toggle .fa-chevron-down{
  display: block;
}

.faq.active .faq-toggle{
  background:  #248888;
  color: white;
}

h1{
  color:#248888; 
  font-family: cursive;
  font-size: 46px; 
  font-weight: 100; 
  line-height: 30px; 
  letter-spacing: 1px; 
  padding: 40px 0 20px; 
  border-bottom: double #999;
  margin-bottom: 30px;
} 

h2{
  color: #e5ebee; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; 
  line-height: 26px; 
  margin: 0;
}

p{ 
  color: #222; 
  font-family: 'Verdana', sans-serif; 
  font-size: 16px; line-height: 26px; 
  text-indent: 30px; 
  margin: 0; 
}

a{ 
  color: #c64119; 
  border-bottom: 1px solid #c64119; 
  text-decoration: none; }

a:hover{ 
  color: #993213; 
  border-bottom: 1px solid #993213; 
}


/******************************************
/* MEDIA QUERIES
/*******************************************/