@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400");

/******************************************
/* BASE STYLES
/*******************************************/
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: url(../assets/soundboard.jpg);
}

.btn{
  background: #40332d;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  min-width: 180px;
}

.btn:focus{
  outline:none;
}

.btn:hover{
  opacity: 0.9;
}

.btn:active{
  scale: 0.95;
}

#buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1{
  color:#248888; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 46px; 
  font-weight: 100; 
  line-height: 50px; 
  letter-spacing: 1px; 
  padding: 40px 0 40px; 
  border-bottom: double #999;
  margin-bottom: 40px;
} 

h2{
  color: #e5ebee; 
  font-family: 'Verdana', sans-serif; 
  font-size: 16px; 
  line-height: 26px; 
  margin: 0;
}

p{ color: #bbc3c8; 
  font-family: 'Verdana', sans-serif; 
  font-size: 16px; line-height: 26px; 
  text-indent: 30px; 
  margin: 0; 
}

a{ 
  color: #c64119; 
  border-bottom: 1px solid #c64119; 
  text-decoration: none; }

a:hover{ 
  color: #993213; 
  border-bottom: 1px solid #993213; 
}


/******************************************
/* MEDIA QUERIES
/*******************************************/